*.obj
*.lnk
*.pdb
*.user
*.ilk
*.sdf
*.log
*.exe
*.idb
ui_*.h
Makefile*
*.vcxpro*
*.sln
*.suo
VncApp/Win32/
VncApp/debug/
VncApp/release/
EeoVnc/Win32/
EeoVnc/debug/
EeoVnc/release/
.DS_STORE
VncApp.app/
*~